<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Study Group</title>
</head>
<body>
    <h1>ABOUT</h1>
    <p>Programming Study Group adalah Unit Kegiatan Mahasiswa (UKM) di Universitas Kristen Immanuel Yogyakarta yang berfokus pada pembelajaran bahasa pemrograman Python dan framework Django. UKM ini bertujuan untuk meningkatkan pemahaman dan keterampilan mahasiswa dalam pengembangan perangkat lunak melalui berbagai kegiatan seperti diskusi, pelatihan, workshop, serta proyek kolaboratif. </p>

    <ul>
        <li>
            <a href="/" title="">HOME</a>
        </li>
    </ul>
</body>
</html>
